<div class="content page-container">
  <div class="page-title">Calendar</div>

  <%= link_to 'Request a Reservation', new_reservation_request_path %>

  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>
