<div class="content page-container green-background">
  <div class="page-title">The Island Calendar</div>

  <%= link_to 'Request a Reservation', new_reservation_request_path %>
  <br>
  <%= link_to "Jump to Today", date: Date.today %>
  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
      <%= date.day %>
      <ul>
        <% @reservation_requests.each do |request|%>
          <% if request[:start_date] <= date && request[:end_date] >= date %>
            <div id='trip' style= >
              <% if request[:start_date] == date %>
                <li id='start_date'><%= link_to request.person.full_name %></li>
              <% elsif request[:end_date] == date %>
                  <li id='end_date'><%= link_to request.person.full_name %></li>
                <% else %>
                <li><%= "- " %></li>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </ul>

    <% end %>
  </div>
</div>
