<div class="content page-container">
  <div class="page-title">Island Weather Center</div>

  <div class="today">
    <div class="today-header">Current Conditions</div>
    <div class="temp"><%= @weather.current_temp %>&deg</div>
    <div class="details">
      <div><%= @weather.current_summary %></div>
      <div>Wind: <%= @weather.current_wind %></div>
      <div><%= @weather.near_forecast_summary %></div>
      <div>
        <table>
          <tr>
            <td>Sunrise</td>
            <td><%= @weather.forecast_sunrise(0) %></td>
          </tr>
          <tr>
            <td>Sunset</td>
            <td><%= @weather.forecast_sunset(0) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="seven-day-container">
    <div class="seven-day-header">7 Day Forecast Summary</div>
    <div class="seven-day-summary"><%= @weather.forecast.daily.summary %></div>
  </div>

  <% (1..7).to_a.each do |day| %>
    <div class="day-container">
      <div class="forecast-day">
        <div class="forecast-cell day"><%= @weather.forecast_day_of_week(day) %></div>
        <div class="forecast-cell high"><%= @weather.forecast_high_temp(day) %>&deg</div>
        <div class="forecast-cell low"><%= @weather.forecast_low_temp(day) %>&deg</div>
        <div class="forecast-cell precip">
          <div class="precip-text">Chance of <%= @weather.forecast_precip_type(day) %></div>
          <div class="precip-chance"><%= @weather.forecast_precip_probability(day) %>%</div>
        </div>
        <div class="forecast-cell sun">
          <table>
            <tr>
              <td class="sun-type">Sunrise</td>
              <td class="sun-time"><%= @weather.forecast_sunrise(day) %></td>
            </tr>
            <tr>
              <td class="sun-type">Sunset</td>
              <td class="sun-time"><%= @weather.forecast_sunset(day) %></td>
            </tr>
          </table>
        </div>
        <div class="forecast-cell summary"><%= @weather.forecast_summary(day) %></div>
      </div>
    </div>
  <% end %>
</div>
