<div class="login-container">
  <div class="login">
    <div class="field title">
      Forgot Password
    </div>

    <% if flash[:alert] %>
      <div class="field alert"><%= flash[:alert] %></div>
    <% end %>

    <%= form_for :session do |f| %>
      <div class="field">
        <%= f.text_field :email, placeholder: 'Email Address', class: 'single-field', spellcheck: false, autofocus: true  %>
      </div>

      <div class="field">
        <%= f.submit 'Send Me A Link', class: 'button button-green' %>
      </div>
    <% end %>

    <div class="field login-link"><%= link_to 'Back to Login', login_url %></div>
  </div>
</div>
