<!DOCTYPE html>
<html>
<head>
  <title>Hoover Island</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'main/header' unless current_page?(login_url) || current_page?(forgot_password_url) %>
  <%= yield %>

</body>
</html>
